.link:hover .arm {
  animation: octocat-wave 560ms ease-in-out;
}

.arm {
  transform-origin: 130px 106px;
}

.svg {
  fill: var(--color-background-block);
  color: var(--color-background-base);
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .link:hover .arm {
    animation: none;
  }
  .link .arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
