@import 'common/mixins';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 24px;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
}
