.container {
  display: flex;
}

.item {
  display: inline-flex;
  flex: 1;
  justify-content: center;
}

.title {
  display: inline-block;
  margin-left: 4px;
}

.link {
  display: inline-flex;
  justify-content: center;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
}
