.techStack {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

.techStackItem {
  font-family: sans-serif;
  font-size: 0.9em;
  display: inline-flex;
  padding: 2px 8px;
  margin: 4px 4px;
  background-color: var(--color-background-label);
  color: var(--color-font-label);
  border-radius: 4px;
}
