.container {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.icon {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 1.2em;
  font-family: sans-serif;
}
