:root {
  --color-text-primary: rgb(27, 27, 27);
  --color-text-secondary: #747eac;

  --color-font-base: black;
  --color-font-reverse: white;
  --color-font-accent: #58458c;

  --color-background-base: #ebebeb;
  --color-background-block: #272643;

  --color-background-label: #2c698d;
  --color-font-label: white;

  --color-font-link: #2c698d;
  --color-font-link-active: #52bdfc;
}
