:root {
  --color-text-primary: rgb(27, 27, 27);
  --color-text-secondary: #8274AC;

  --color-font-base: black;
  --color-font-reverse: white;
  --color-font-accent: #58458C;

  --color-background-base: #DDD9E8;
  --color-background-block: #58458C;

  --color-background-label: #8274AC;
  --color-font-label: white;
}
