:root {
  /* https://coolors.co/0a2463-304c89-648de5-f79824-b3efb2 */
  --color-1: hsla(222, 90%, 39%, 1);
  --color-2: hsla(221, 65%, 54%, 1);
  --color-3: hsla(221, 56%, 90%, 1);
  --color-4: hsla(33, 85%, 97%, 1);
  --color-5: hsla(119, 26%, 94%, 1);

  --color-accent-1: #5f0a87ff;
  --color-accent-2: #fe5d26ff;
  --color-accent-3: #0075a2ff;
  --color-accent-4: #52b788ff;
  --color-accent-5: #d55672ff;

  --color-font-base: black;
  --color-font-reverse: white;

  --color-accent: var(--color-4);
  --color-background-light: var(--color-5);
}
