.container {

}

.item {
  &Education {
    .icon {
      background-color: var(--color-accent-1);
    }
  }
  &Course {
    .icon {
      background-color: var(--color-accent-2);
    }
  }
  &Employment {
    .icon {
      background-color: var(--color-accent-3);
    }
  }
}

.title {
  margin: 0 0 8px;
  font-size: 1.2em;
  color: var(--color-1);
}

.subtitle {
  margin: 0;
  font-size: 1em;
}

.description {
  p {
    margin: 0;
  }

  li {
    margin: 8px 0 0;
  }
}

.dates {

}

.icon {
  color: var(--color-font-reverse);
}

.techStack {

}

.techStackItem {

}
