@import 'common/mixins';

.title {
  margin: 0 0 0.3em;
  font-size: 1.2em;
  white-space: normal;
}

.subtitle {
  font-size: 1em;
  margin: 0;
  white-space: normal;
}

.description {
  margin-top: 8px;

  p {
    margin: 0;
    line-height: 1.3em;
  }

  li {
    margin: 4px 0 0;
  }

  ul {
    margin-bottom: 0;
  }
}

.item {
  page-break-inside: avoid;
}

.item + .item {
  margin-top: 24px;
}

.header {
  display: flex;

  @include mobile {
    flex-wrap: wrap-reverse;
  }
}

.jobBlock {
  display: flex;
  flex-wrap: nowrap;
}

.logo {
  width: 48px;
  height: 48px;
  margin-right: 16px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.jobInfo {
  display: inline-block;
}

.dates {
  color: var(--color-text-secondary);
  margin-left: 24px;
  margin-top: 3px;

  @include mobile {
    margin-left: 0;
    flex-basis: 1000px;
  }
}

.date {
  display: inline-block;
  white-space: pre;
}
